.profilediv {
  background: url("./profilebackground.jpg");
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yourProfile {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px white solid;
  width: 40rem;
  height: 25rem;
  display: flex;
  margin-top: 4vh;
}
.settings {
  display: flex;
  justify-content: center;
  /* border: red 2px solid; */
  color: aliceblue;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 2px 0 0 rgb(71, 71, 71), -2px 0 0 rgb(71, 71, 71),
    0 2px 0 rgb(71, 71, 71), 0 -2px 0 rgb(71, 71, 71), 1px 1px rgb(71, 71, 71),
    -1px -1px 0 rgb(71, 71, 71), 1px -1px 0 rgb(71, 71, 71),
    -1px 1px 0 rgb(71, 71, 71);
}
.key {
  margin-left: 1.5rem;
}
.key div {
  color: aliceblue;
  text-shadow: 2px 0 0 rgb(71, 71, 71), -2px 0 0 rgb(71, 71, 71),
    0 2px 0 rgb(71, 71, 71), 0 -2px 0 rgb(71, 71, 71), 1px 1px rgb(71, 71, 71),
    -1px -1px 0 rgb(71, 71, 71), 1px -1px 0 rgb(71, 71, 71),
    -1px 1px 0 rgb(71, 71, 71);
  width: 15rem;
  border-bottom: rgb(168, 165, 165) 1px solid;
  border-radius: 0%;
  margin-top: 1.95rem;
  background-color: transparent;
  font-weight: bold;
  font-size: large;
}

.value input {
  border-radius: 0%;
  width: 18rem;
  margin-top: 1.15rem;
  background-color: rgba(141, 141, 141, 0.5);
  border-bottom: rgb(168, 165, 165) 1px solid;
}
.profileButtons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.saveBtn {
  font-size: 1rem;
  width: fit-content;
  margin-bottom: 1rem;
  background-color: rgba(141, 141, 141, 0.5);
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 2px 0 0 rgb(71, 71, 71), -2px 0 0 rgb(71, 71, 71),
    0 2px 0 rgb(71, 71, 71), 0 -2px 0 rgb(71, 71, 71), 1px 1px rgb(71, 71, 71),
    -1px -1px 0 rgb(71, 71, 71), 1px -1px 0 rgb(71, 71, 71),
    -1px 1px 0 rgb(71, 71, 71);
}
.deleteBtn {
  font-size: 1rem;
  width: fit-content;
  background-color: rgba(141, 141, 141, 0.5);
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 2px 0 0 rgb(71, 71, 71), -2px 0 0 rgb(71, 71, 71),
    0 2px 0 rgb(71, 71, 71), 0 -2px 0 rgb(71, 71, 71), 1px 1px rgb(71, 71, 71),
    -1px -1px 0 rgb(71, 71, 71), 1px -1px 0 rgb(71, 71, 71),
    -1px 1px 0 rgb(71, 71, 71);
}

@media screen and (max-width: 700px) {
  .profilediv {
    height: 75vh;
    margin-top: 8vh;
    width: 100vw;
  }
  .yourProfile {
    width: 20rem;
    height: 22rem;
  }
  .key div {
    width: 6rem;
    font-size: medium;
  }
  .value input {
    width: 10rem;
  }
}
